html
  min-width : 25em
  min-height: 25em

  max-width : 80em
  max-height: 80em

  body
    display       : flex
    flex-direction: column

    #navigation
      display: flex
      height : 4em
      align-items : center
      padding: 0.5em

      ul
        padding: 1em
        margin : 0em
        width  : 100%

        display: flex

        li:first-child
          flex-grow: 1
        li
          list-style-type: none
          h1
            margin: 0em
            font-size: 1.5em

    .container
      width: 100%
